*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body{
    font-size: 16px;
    font-family: 'Work Sans', Helvetica, sans-serif;
    font-weight: 400;
    color: #3A5864;
}
a{
    text-decoration: none;
    color: black;
}
.header-name{
    font-family: 'Permanent Marker', sans-serif;
    font-size: 2rem;
    margin-bottom: 2em;
    color: #3A5864;

}
.header-quote{
    text-align: right;
    font-size: 1.2rem;
    margin-bottom: 1em;
    align-self: center;
}
.learn-more{
    margin-top: 1em;
    text-align: right;
    font-size: 1rem;
}
.blue-light{
    color: #729BA9;
}
.blue-dark{
    color: #3A5864;
    font-weight: 600;
}
header{
    display: flex;
    flex-direction: column;
    padding: 2em;
    width: 100%;
    height: auto;
    background-color: #F7F7F5;
}
.project{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1em 2em;
    align-items: center;
}

.project-1{
    background-color: rgb(175, 206, 216);
}
.project-2{
    background-color: rgb(191, 219, 228);
}
.project-bottom{
    margin-top: 2em;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.project-img{
    height: 18.75rem;
    width: auto;
    transition: .1s ease-out;

}
.project-img:hover{
    height: 20rem;
}
.project-img-link{
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
}

.project-title{
    color: #3A5864;
}
.number{
    font-size: 2rem;
    align-self: flex-start;

}

.fas{
    color: #3A5864;
    transition: .1s;
}

.fas:hover{
    color: #729BA9;
}

@media (min-width: 56rem) {
    header{
        width: 40%;
        height: 100vh;
        position: fixed;
    }
    .work{
        margin-left: 40%;
    }
    .project{
        height: auto;
    }

}