//      Mixins inpired by: 
//      Sass for webdesigners - Cederholm

$color-background: #32332E;
$color-body-copy: #32332E;
$color-dark: #32332E;
$color-light: #F9FAF8;
$color-semi-light: #E1E2DD;
$color-primary: #729BA9;
$color-primary-dark: #3A5864;
$color-strava: #FC4C02;

$font-body: 'Montserrat', Helvetica, sans-serif; //'Raleway', Helvetica, sans-serif;
$font-title: 'Sen', Helvetica, sans-serif;
$font-headings: 'Montserrat', Helvetica, sans-serif;
$font-number: 'Montserrat', Helvetica, sans-serif;



@mixin transition($property) {
    -webkit-transition: $property .1s ease;
    -moz-transition: $property .1s ease;
    -o-transition: $property .1s ease;
    transition: $property .1s ease;
}
   
@mixin box-sizing {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@mixin flexbox($direction: row) {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    //align-items: flex-start;
    //-webkit-align-items: flex-start;


    -webkit-flex-direction: $direction;
    -moz-flex-direction: $direction;
    -ms-flex-direction: $direction;
    flex-direction: $direction;
}

@mixin align-items($direction) {
    -webkit-align-items: $direction;
    align-items: $direction;
}

@mixin linear-gradient($from, $to) {
    /* Fallback for sad browsers */
    background-color: $to;
    /* Mozilla Firefox */
    background-image: -moz-linear-gradient($from, $to);
    /* Opera */
    background-image: -o-linear-gradient($from, $to);
    /* WebKit (Chrome 11+) */
    background-image: -webkit-gradient(linear, »
    left top, left bottom, color-stop(0, $from), »
    color-stop(1, $to));
    /* WebKit (Safari 5.1+, Chrome 10+) */
    background-image: -webkit-linear-gradient($from, $to);
    /* IE10 */
    background-image: -ms-linear-gradient($from, $to);
    /* W3C */
    background-image: linear-gradient($from, $to);
}

@mixin shadow($x, $y, $blur, $color) {
    -webkit-box-shadow: $x $y $blur $color;
    -moz-box-shadow: $x $y $blur $color;
    box-shadow: $x $y $blur $color;
}

@mixin rounded($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
}
/*
CSS Inspired by:
- Lecture and tutorials by Paul Brokenshire
- W3Schools
    https://www.w3schools.com/cssref/css3_pr_background.asp
    https://www.w3schools.com/howto/howto_css_menu_horizontal_scroll.asp
    https://www.w3schools.com/cssref/tryit.asp?filename=trycss3_word-wrap
    https://www.w3schools.com/css/css_positioning.asp
    https://css-tricks.com/snippets/css/a-guide-to-flexbox/
    https://css-tricks.com/snippets/css/complete-guide-grid/
    https://stackoverflow.com/questions/1409649/how-to-change-the-height-of-a-br
    Slanted Background: https://codepen.io/igstudio/pen/NxgOBp
    https://stackoverflow.com/questions/6999257/vertical-scrollbar-position-absolute
    https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_menu_hor_scroll
*/

/*
    ----------- GENERAL -------------
*/

*{
    @include box-sizing;
    padding: 0;
    margin: 0;
}
html{
    overflow-y: overlay;
    //overflow-x: hidden;
}

body{
    //padding-right: 1rem;
    width: 100%;
    font-size: 16px;
    font-family: $font-body;
    font-weight: 400;
    line-height: 1.5;
    color: $color-light;
    background-color: $color-light;
    @include flexbox(column);
}

.flex-container{
    @include flexbox();
}

.no-stretch{
    @include flexbox();
    align-items: center;
    -webkit-align-items: center;
}
.no-stretch-self{
    align-self: center;
    -webkit-align-self: center;
}
.left{
    justify-self: flex-start;
}
.right{
    justify-self: flex-end;
}

.light{
    color: $color-primary-dark;
}

.black{
    color: $color-body-copy;
}

/*
    ----------- Text -------------
*/
.sen{
    font-family: $font-title;
}

strong{
    font-weight: 600;
}
.em{
    font-style: italic;
}

a{
    text-decoration: none;
    color: $color-primary-dark;
    i{
        align-self: center;
    }
    &:hover{
        color: $color-primary;
    }
}

h1{
    font-family: $font-headings;
    font-size: 2.25rem;
    margin: 0em 0;
    line-height: 1.25;
}
h2{
    font-family: $font-headings;
    font-size: 1.75rem;
    margin: .5em 0;
}
h3{
    font-family: $font-headings;
    font-size: 1.25rem;
    margin: .5em 0;
}

p{
    font-size: 1rem;
    margin: .5em 0;
}

ul{
    margin-left: 1em;
}

br.margin{
    display: block;
    content: "";
    margin-top: .5rem;
}

.fas{
    margin-right: .5em;
}
.fa-mobile{
    margin-right: 1rem;
}

.copyright{
    font-size: .8rem;
    color: $color-primary-dark;
    text-align: center;
    padding: 1em 0;
}

.centered{
    text-align: center;
}

/*
    ----------- Homescreen Left Column -------------
*/
.header-name{
    font-family: $font-title;
    font-size: 2rem;
    margin-bottom: 2em;
    color: $color-primary-dark;
}

.header-quote{
    text-align: right;
    font-size: 1.2rem;
    margin: auto 0;
    align-self: center;
}
.learn-more{
    margin-top: 1em;
    text-align: right;
    font-size: 1rem;
}
.blue-light{
    color: $color-primary;
}
.blue-dark{
    color: $color-primary-dark;
    font-weight: 600;
}
header{
    @include flexbox(column);
    padding: 2em;
    width: 100%;
    height: auto;
    background-color: $color-light;
    /*@include shadow(5px, 0, 10px, rgba($color: $color-primary-dark, $alpha: 0.15))*/
}

.social-media{
    margin-top: auto;
    i{
        padding: .5rem;
        color: $color-primary-dark;
        &:hover{
            color: $color-primary;
        }
    }
    @include flexbox();
    justify-content: center;
}

@media (min-width: 50rem) {
    header{
        width: 24rem;
        height: 100vh;
        position: fixed;
    }
    .work{
        margin: 1rem 1rem 1rem 25rem;
        
    }
    .project{
        height: auto;
    }
}

/*
    ----------- Homescreen Right Column -------------
*/
.project{
    @include flexbox(column);
    width: 100%;
    padding: 1em 2em;
    margin-bottom: 1rem;
    align-items: center;
    @include linear-gradient(rgba(255, 255, 255, 0.01), $color-light);
    @include shadow(0, 10px, 20px, rgba($color: $color-primary-dark, $alpha: 0.25));

}

.project-1{
    background-color: lighten($color: $color-primary, $amount: 30%);
}
.project-2{
    background-color: lighten($color: $color-primary, $amount: 40%);
}
.project-bottom{
    margin-top: 2em;
    width: 100%;
    @include flexbox();
    justify-content: space-between;
    align-content: center;
}

.project-img{
    height: 18.75rem;
    width: auto;
    transition: .1s ease-out;
    &:hover{
            height: 20rem;
    }
}

.project-link{
    align-self: flex-end;
    height: auto;
    color: $color-primary-dark;
    &:hover{
        color: $color-primary;
        svg{
            fill: $color-primary;
        }
    }
    svg{
        fill: $color-primary-dark;
        @include transition(color);
        &.right{
            margin-left: 1em;
        }
        &.left{
            margin-right: 1em;
        }
        
    }
}

.project-link-dark{
    align-self: flex-start;
    height: auto;
    color: $color-light;
    &:hover{
        color: $color-semi-light;
        svg{
            fill: $color-semi-light;
        }
    }
    svg{
        fill: $color-light;
        @include transition(color);
        margin-left: 1em;
        
    }
}

.project-img-link{
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
}

.project-title{
    color: $color-primary-dark;
    font-weight: 600;
    font-size: 1.25rem;
}
.number{
    font-family: $font-number;
    font-weight: 300;
    font-size: 1.5rem;
    align-self: flex-start;
}


/*
    ----------- Project Page -------------
*/
.dark{
    color: $color-light;
    &:hover{
        color: $color-semi-light;
        border-color: $color-semi-light;
    }
}

.nav-item{
    margin: 0 .5em;
    &:hover{
        border-bottom: solid 1.3px $color-primary;
    }
    &-dark{
        margin: 0 .5em;
        color: $color-light;
        &:hover{
            color: $color-semi-light;
            border-bottom: solid 1.3px $color-semi-light;
        }
    }
}

.nav{
    margin-left: auto;
}



.nav-active{
    border-bottom: solid 1.3px $color-primary-dark;
    &-dark{
        border-bottom: solid 1.3px $color-light;
    }
}
.nav-item:hover{
    border-bottom: solid 1.3px $color-primary;
}

/* @media (max-width: 31.25rem){
    .project-header{
        flex-direction: column;
        position: static;
        margin: 0;
        padding: 1em;
        background-color: black;
    }
    .nav{
        flex-direction: column;
        justify-content: center;

    }
    .nav-item{
        padding-top: 1em;
        text-align: center;
    }
}
*/
.project{
    &-banner{
        &-2{
            width: 100%;
            height: 100vh;
            background: {
                color: $color-dark;
                image: url(../img/spotify/dj-mixer-hands-set.jpg);
                size: cover;
            }
            @include flexbox(column);
        }
        &-strava{
            width: 100%;
            height: 100vh;
            background: {
                color: $color-dark;
                image: url(../img/strava/strava-phone-web-2.jpg);
                size: cover;
                position: center center;
            }
            @include flexbox(column);
        }
        &-helpmate{
            width: 100%;
            height: 100vh;
            background: {
                color: #27B2B2;
                size: cover;
                position: center center;
            }
            @include flexbox(column);
        }
        &-logo{
            @include flexbox();
            margin: auto 1rem 2rem auto;
            width: 40rem;
            align-items: center;
            img{
                padding-right: 1.5rem;
                width: 50%;
                height: auto;
            }
            span{
                font-size: 1.75rem;
                color: $color-light;
                width: 50%;
                padding-left: 1.5rem;
                border-left: solid 3px $color-light;
            }
            @media (max-width: 40rem) {
                width: 100%;
                padding: 0 .5em .5em;
                span{
                    font-size: 7vw;
                    padding-left: 3vw;
                }
            }
        }
    }
    &-header{
        @include flexbox();
        width: 100%;
        justify-content: space-between;
        align-items: flex-start;
        padding: 1em;
        @media (max-width: 25rem){
            overflow: auto;
            white-space: nowrap;
        }
    }

    &-body{
        @include flexbox(column);
        padding: 1em;
        max-width: 56.25rem;
        width: 100%;
        margin: 2rem auto;
        justify-content: center;
        img{
            width: 100%;
            height: auto;
        }
        &-wide{
            @include flexbox(column);
            padding: 2rem 5%;
            width: 100%;
            justify-content: space-around;
            img{
                margin: 1rem 0;
            }
            
        }

    }
    &-info{
        p{
            font-size: 1.2rem;
        }   
    }
    &-recap{
        margin: 1rem 0;
    }
}
@media (max-width: 40rem) {
    .project {
        &-banner {
            &-logo{
                @include flexbox(column);
                padding: 1rem;
                margin: auto auto 2rem;

                width: 100%;
                align-items: center;
                img{
                    padding: 0;
                    width: 70%;
                    height: auto;
                }
                span{
                    //text-align: center;
                    width: 70%;
                    margin-top: 1.5rem;
                    padding: 0 0 0 1.5rem;
                    //border-left: none;
                }
            }
        }
    }
}
.bg-dark{
    background-color: $color-dark;
    color: $color-light;
}
.bg-wide{
    width: 100%;
}

.full-img{
    width: 100%;
    height: auto;
}

#theoretical-eval{
    display: flex;
    flex-basis: auto;
    margin-bottom: 1rem;
    img{
        align-self: center;
        flex-basis: auto;
        width: 15.6rem;
        height: auto;
    }
}

@media (max-width: 50rem) {
    #theoretical-eval{
    flex-direction: column;
    }
}
.banner-img{
    margin: 0 auto;
    position: relative;
    img{
        width: 100%;
        height: auto;
        max-width: 56.25rem;
    }
    #team-challenges-logo{
        position: absolute;
        bottom: 1em;
        left: 1em;
        fill: $color-light;
    }
}

.col-1{
    margin: 2rem 0;
}
.col-3-1{
    width: 100%;
    margin: 2rem 0;
    @include flexbox();
    align-items: center;
    justify-content: space-between;
    div:first-child{
        width: 70%;
    }
    div:last-child{
        margin: 0 auto;
        width: 20%;
    }   
    div{
        img{
            max-width: 30rem;
        }
    }
    @media (max-width: 44rem) {
        flex-wrap: wrap;
        div:first-child{
            width: 100%;
        }
        div:last-child{
            width: 100%;
        }   
    }
}
.col-2-1{
    width: 100%;
    margin: 1rem 0;
    @include flexbox();
    align-items: center;
    justify-content: space-between;
    div:first-child{
        width: 60%;
    }
    div:last-child{
        margin: 0 auto;
        width: 30%;
    }
    
    div{
        img{
            max-width: 30rem;
        }
    }
    @media (max-width: 44rem) {
        flex-wrap: wrap;
        div:first-child{
            width: 100%;
        }
        div:last-child{
            width: 100%;
        }   
    }   
}

.col-1-1{
    margin: 1rem 0;
    @include flexbox();
    align-items: center;
    justify-content: space-between;
    div{
        width: 45%;
        img{
            width: 100%;
            height: auto;
            max-width: 15rem;
            margin: 0 auto;
            .double:first-of-type{
                margin-right: 4%;
            }
            .double{
                margin: 0;
                width: 48%;
                height: auto;
            }
        }
        .double{
            max-width: none;
        }
    }
    .img-double{
        @include flexbox();
        justify-content: center;
        align-items: center;
        width: 100%;
        img:first-of-type{
            margin-right: 4%;
        }
        img{
            margin: 0;
            width: 48%;
            height: auto;
        }
    }
    @media (max-width:44rem) {
        flex-wrap: wrap;
        .reversed{
            flex-wrap: wrap-reverse;
        }
        div{
            width: 100%;
        }
    }
}

.col-1-1-v2{
    margin: 1rem 0;
    @include flexbox();
    align-items: center;
    justify-content: space-between;
    div{
        width: 45%;
        img{
            width: 48%;
            height: auto;
            max-width: none;
            margin: 0;
        }
        img:first-of-type{
            margin-right: 4%;
        }
    }
    @media (max-width:44rem) {
        flex-wrap: wrap;
        .reversed{
            flex-wrap: wrap-reverse;
        }
        div{
            width: 100%;
        }
    }
}

/*
    --------------------------------- Spotify specific ---------------------------------
*/
#spotify-banner-photo{
    display: flex;
    width: 100%;
    height: auto;
    padding: 1em;
    max-width: 80rem;
    margin: auto;
    max-height: 50vh;
    align-items: center;
    justify-content: center;
    img{
        width: auto;
        height: 100%;
        max-height: 50vh;
    }
    @media (max-width:40rem) {
        max-width: 100%;
    }
}

#background{
    margin-top: 0;
}
#intro{
    margin-bottom: 10vh;
    flex-wrap: wrap;
}
.slanted{
    @include flexbox(column);
    &-top{
        position: relative;
        &::after{
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            border-style: solid;
            border-color: transparent;
            border-width: 5vh 50vw;
            border-bottom-color: $color-dark;
            border-right-color: $color-dark;
        }
    }
    &-middle{
        position: relative;
        &::after{
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            border-style: solid;
            border-color: transparent;
            border-width: 5vh 50vw;
            border-bottom-color: $color-light;
            border-right-color: $color-light;
        }
    }
    &-container{
        
        &-left{
            max-width: 23.75rem;
            padding-top: 5vh;
        }

        &-right{
            max-width: 23.75rem;
            padding-bottom: 5vh;
        }
    }
    &-body{
        @include flexbox(row);
        justify-content: space-between;
        padding: 0 1em;
        max-width: 56.25rem;
        margin: 0 auto 10vh;
        h2{
            margin-top:0;
        }
    }
}
#tested-scenarios{
    width: 50%;
    height: auto;
    float: right;
    padding-left: 5%;
}

@media (max-width: 50rem) {
    #tested-scenarios{
        width: 100%;
        height: auto;
        max-width: 30rem;
        float: none;
        padding: 0;
        margin: 1rem auto;
    }
    br.margin{
        margin-top: 1rem;
    }
    .helpmate-hands{
        display: none;
    }
}

#redesign-queue{
    @include flexbox();
    width: 100%;
    max-width: 40rem;
    margin: 2rem auto;
    align-items: center;
    justify-content: space-between;
    img{
        width: 36%;
        flex-shrink: 2;
    }
    .arrow{
        width: 20%;
        margin: 0 4%;
        flex-shrink: 1;
    }
}

/*
    Strava specicic
*/
#strava-sketch{
    @include flexbox();
    width: 100%;
    max-width: 40rem;
    height: auto;
    margin: 2rem auto;
    img{
        width: 100%;
        height: auto;
    }
}

.col-2{
    margin: 1rem 0;
    @include flexbox();
    align-items: center;
    justify-content: space-between;
    div{
        width: 45%;
        img{
            width: 100%;
            height: auto;
            max-width: 15rem;
            margin: 0 auto;
            .double-img{
                width: 45%;
                height: auto;
            }
        }
        .double{
            max-width: none;
        }
    }

}

.col-3{
    margin: 1rem 0;
    @include flexbox();
    align-items: center;
    justify-content: space-around;
    div{
        width: 30%;
        img{
        width: 100%;
        height: auto;
        max-width: 20rem;
        margin: 0 auto;
        }
    }

}
#persona{
    margin: 1rem auto;
    @include flexbox();
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;

    img{
        width:50%;
        height: auto;
        max-width: 37.5rem;
        min-width: 20rem;
    }
}

.shadow{
    @include shadow(10px, 10px, 20px, rgba($color: $color-primary-dark, $alpha: 0.25));
}
@media (max-width:43.75rem) {
    .col-2{
        flex-wrap: wrap-reverse;
        div{
            width: 100%;
            padding-left: 0;
        }
        img{  
            width: 100%;
            margin: 1rem auto;
        }
    }
    #persona{
        @include flexbox(column);    
        img{
            width:100%;
        }
    }
}
@media (max-width: 37.5) {
    

}

footer{
    @include flexbox();
    padding: 1em;
    justify-content: space-between;
    width: 100%;
}
footer.first{
    justify-content: flex-end;
}
footer.last{
    justify-content: flex-start;
}

.up{
    margin: 0 auto;
}

@media (min-width: 56.25rem) {
    .banner-img{
        max-width: 50rem;
        img{
            @include rounded(1rem);
        }
    }
}
/*
    ----------- Styleguide Page -------------
*/
.styleguide-body{

    width: 100%;
    padding: 1em 2em;
    margin-bottom: 1em;
    @include linear-gradient(rgba(255, 255, 255, 0.01), $color-light);
    @include shadow(0, 10px, 20px, rgba($color: $color-primary-dark, $alpha: 0.25));
    h3, .indent-1{
        margin-left: 1rem;
    }
    p, .indent-2{
        margin-left: 2rem;
        max-width: 100%;
        word-wrap: break-word;
    }
    .indent-3{
        margin-left: 3rem;
    }
    ul{
        margin-left: 2rem;
    }
}
.color-wrapper{
    @include flexbox();
    width: 100%;
    flex-wrap: wrap;
    p{
        margin-left: 0;
    }
    .color-item{
        margin: .5em;
        text-align: center;
        .color-box{
            width: 5rem;
            height: 5rem;
            @include rounded(1em);
            @include shadow(5px, 5px, 10px, rgba($color: $color-primary-dark, $alpha: 0.25));
            
        }
        .primary{
            background-color: $color-primary;
        }
        .primary-dark{
            background-color: $color-primary-dark;
        }
        .color-dark{
            background-color: $color-dark;
        }
        .color-semi-light{
            background-color: $color-semi-light;
        }
        .color-light{
            background-color: $color-light;
        }
    }
}

#mood img{
    max-width: 100%;
}

video{
    width: 100%;
    max-width: 54rem;
    margin: 0 auto;
}
.helpmate-hands{
    position: absolute;
    top: -1rem;
    left: -1rem;
    height: 100%;
    width: auto;
}